#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.notification {
  background-color: #f8d7da; /* Red background color */
  color: #721c24;            /* Dark red text */
  padding: 10px 15px;        /* Padding around the text */
  border: 1px solid #f5c6cb; /* Light red border */
  border-radius: 5px;        /* Rounded corners */
  margin-top: 15px;          /* Margin to separate from other content */
  font-weight: bold;         /* Bold text */
  text-align: center;        /* Center the text */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
